<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @room_message.user_id %>
</p>

<p>
  <strong>Room:</strong>
  <%= @room_message.room_id %>
</p>

<%= link_to 'Edit', edit_room_message_path(@room_message) %> |
<%= link_to 'Back', room_messages_path %>
