<p id="notice"><%= notice %></p>

<h1>Guilds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Anagram</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guilds.each do |guild| %>
      <tr>
        <td><%= guild.name %></td>
        <td><%= guild.anagram %></td>
        <td><%= link_to 'Show', guild %></td>
        <td><%= link_to 'Edit', edit_guild_path(guild) %></td>
        <td><%= link_to 'Destroy', guild, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guild', new_guild_path %>
