<div id="checkChatPresence"></div>
<br><p class="big-title fifties blk-text text-center"> <u> <strong> Private talks </strong></u> 🤫 </p>

<div class="mycontainer text-center">
    {{!-- USER LIST --}}
    <ul class="list-user list-group">
        {{#each allUsers}}
            <li class="list-group-item fifties">
                {{#ifDm ../userID attributes.id ../dmRooms.models}}
                    <a class="btn btn-primary btn-lg btn-block avatar-btn" href="#messages/{{#findDmRoom ../userID attributes.id ../dmRooms.models}}{{/findDmRoom}}">
                        <img src="{{attributes.image}}" alt="Avatar" class="avatar">
                        <label class="text-maxwidth sized-text-md">{{attributes.nickname}}</label>
                    </a>
                {{else}}
                    <form class="createDM" id="createDM-{{attributes.id}}" action="/api/direct_chats.json"
                        accept-charset="UTF-8" method="POST">
                        <input type="hidden" name="authenticity_token" value="{{../token}}">
                        <input type="hidden" name="dmRoom[first_user_id]" value="{{../userID}}">
                        <input type="hidden" name="dmRoom[second_user_id]" value="{{attributes.id}}">

                        <button class="btn btn-secondary btn-lg btn-block avatar-btn" style="overflow: hidden; padding-right: .5em;" type="submit">
                            <img src="{{attributes.image}}" alt="Avatar" class="avatar">
                            <label class="text-maxwidth sized-text-md">{{attributes.nickname}}</label>
                        </button>
                    </form>
                {{/ifDm}}
            </li>
        {{/each}}
    </ul>
</div>