<div id="checkChatPresence"></div>
<br><p style="font-size: 20px;margin: 25px;"> <u> <strong> Private talks </strong></u> 🤫 </p>

<div class="mycontainer">
    <div class="row">
        {{!-- USER LIST --}}
        <div class="col-3">
            <div class="list-users">
                {{#each allUsers}}

                <div class="list-users-item">

                    <img src="{{attributes.image}}" style="float: left" alt="Avatar" class="avatar">

                    {{#ifDm ../userID attributes.id ../dmRooms.models}}
                    <a class="btn btn-outline-primary btn-sm" 
                        href="#messages/{{#findDmRoom ../userID attributes.id ../dmRooms.models}}{{/findDmRoom}}">{{attributes.nickname}}</a>
                    <br> &nbsp;&nbsp;
                    {{else}}
                    <form class="createDM" id="createDM-{{attributes.id}}" action="/api/direct_chats.json"
                        accept-charset="UTF-8" method="POST">
                        <input type="hidden" name="authenticity_token" value="{{../token}}">
                        <input type="hidden" name="dmRoom[first_user_id]" value="{{../userID}}">
                        <input type="hidden" name="dmRoom[second_user_id]" value="{{attributes.id}}">

                        <div style="overflow: hidden; padding-right: .5em;">
                            <input class="btn btn-outline-success" type="submit"
                                value="{{attributes.nickname}}">
                        </div>

                    </form>
                    {{/ifDm}}
                    <br>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>