<script>
    	var scrollElem = document.getElementById('list-message');
		if (scrollElem) scrollElem.scroll(0, scrollElem.scrollHeight);
        var focusElem = document.getElementById('message');
		if (focusElem) focusElem.focus();
</script>

<div id="checkChatPresence"></div>
<div id="userID" value="{{currentUser.id}}"></div>

<div class="mycontainer row" style="padding-top: 5px; margin-top: 5px; margin-bottom: 0px!important; padding-bottom: 0px!important;">
    {{!-- USER LIST --}}
    <ul class="list-group col-4" id="list-user-in">
        {{#each allUsers}}
            <li class="list-group-item fifties">
                {{#ifDm ../userID attributes.id ../dmRooms.models}}
                    {{#ifCurrentDmRoom ../userID attributes.id ../dmRooms.models ../chatID  }}
                        <a class="btn btn-success btn-lg btn-block avatar-btn" href="#messages/{{#findDmRoom ../userID attributes.id ../dmRooms.models}}{{/findDmRoom}}">
                            <img src="{{attributes.image}}" alt="Avatar" class="avatar">
                            <label class="text-maxwidth-sm sized-text-md">{{attributes.nickname}}</label>
                        </a>
                    {{else}}
                        <a class="btn btn-primary btn-lg btn-block avatar-btn" href="#messages/{{#findDmRoom ../userID attributes.id ../dmRooms.models}}{{/findDmRoom}}">
                            <img src="{{attributes.image}}" alt="Avatar" class="avatar">
                            <label class="text-maxwidth-sm sized-text-md">{{attributes.nickname}}</label>
                        </a>
                    {{/ifCurrentDmRoom}}
                {{else}}
                    <form class="createDM" id="createDM-{{attributes.id}}" action="/api/direct_chats.json"
                        accept-charset="UTF-8" method="POST">
                        <input type="hidden" name="authenticity_token" value="{{../token}}">
                        <input type="hidden" name="dmRoom[first_user_id]" value="{{../userID}}">
                        <input type="hidden" name="dmRoom[second_user_id]" value="{{attributes.id}}">

                        <button class="btn btn-secondary btn-lg btn-block avatar-btn" type="submit">
                            <img src="{{attributes.image}}" alt="Avatar" class="avatar">
                            <label class="text-maxwidth-sm sized-text-md">{{attributes.nickname}}</label>
                        </button>
                    </form>
                {{/ifDm}}
            </li>
        {{/each}}
    </ul>

    {{!-- CHATBOX --}}
    <div class="col-7" style="padding-top: 10px!important;">
        <nav class="navbar navbar-dark bg-dark fifties" id="nav">
            <div>
                <a class="navbar-brand sized-text-md text-maxwidth-md" href="#profiles/{{otherUser.id}}">{{otherUser.nickname}}</a>
                {{#if otherUser.guild_id}}
                    <a class="navbar-brand sized-text-md text-maxwidth-md" href="#guilds/{{otherUser.guild_id}}">&lt;{{#findGuild guilds  otherUser.guild_id}}{{/findGuild}}&gt;</a>
                {{/if}}
            </div>
            <div id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <form class="duelForm nav-item active" id="sendDuelRequest" action="/api/direct_chats/createDuelRequest" accept-charset="UTF-8"
                            method="POST">
                            <input type="hidden" name="authenticity_token" value="{{token}}">
                            <input type="hidden" name="duel_request[from_id]" value="{{currentUser.id}}">
                            <input type="hidden" name="duel_request[direct_chat_id]" value="{{chatID}}">
                            <input class="btn btn-outline-success btn-sm" style="background-color:rgb(24, 119, 242); color:azure" type="submit" value="Send game request"> 
                            <select class="form-control-sm" name="duel_request[is_ranked]">
                                <option value="false">Normal</option>
                                <option value="true">Ranked</option>
                            </select>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>

        <section class="container-fluid">
            <div id="list-message-out">
                <ul id="list-message-in" style="padding-top: 20px;">
       
                    {{!-- ALL MESSAGES --}}
                    {{#each directMessages}}
                        
                        {{!-- OTHER USER MESSAGES --}}
                        {{#when from_id "noteq" ../currentUser.id}}
                            <li class="list-group-item fifties blk-text" style="margin-right: 20%;">
                                <div class="otherMessage dont-break-out">
                                    <img src="{{../otherUser.image}}" alt="Avatar" class="avatar" style="margin-bottom: 0px !important;">

                                    {{#ifDuelReq is_duel_request}}
                                        <form id="AcceptDuelRequest" action="/api/direct_chats/acceptDuelRequest" accept-charset="UTF-8"
                                            method="POST" style="display: inline;">
                                            <input type="hidden" name="authenticity_token" value="{{../token}}">
                                            {{!-- Room Data --}}
                                            <input type="hidden" name="duel_request[chat_id]" value="{{../chatID}}">
                                            <input type="hidden" name="duel_request[duel_id]" value="{{id}}">
                                            <input type="hidden" name="duel_request[first_user_id]" value="{{from_id}}">
                                            <input type="hidden" name="duel_request[second_user_id]" value="{{../currentUser.id}}">
                                            <input type="hidden" name="duel_request[is_ranked]" value={{is_ranked}}>
                                            {{#ifRanked is_ranked}}
                                                <input class="btn btn-success" type="submit" value="Accept ranked game"> 
                                            {{else}}
                                                <input class="btn btn-success" type="submit" value="Accept normal game"> 
                                            {{/ifRanked}}
                                        </form>
                                    {{else}}
                                        <label class="message sized-text-md" data-role="message-text">{{message}}</label>
                                    {{/ifDuelReq}}
                                </div>
                            </li>
                        {{/when}}

                        {{!-- MY MESSAGES --}}
                        {{#when from_id "eq" ../currentUser.id}}
                            {{#ifDuelReq is_duel_request}} {{!-- IF CURRENT USER DUAL REQUEST DISPLAY NOTHING --}}
                            {{else}}
                                <li class="list-group-item fifties" style="background: rgb(0, 106, 255); margin-left: 20%; margin-right: 10px;">
                                    <div class="dont-break-out" style="text-align: right;">
                                        <label class="message sized-text-md" data-role="message-text">{{message}}</label>
                                        <img src="{{../currentUser.image}}" alt="Avatar" class="avatar" style="margin-bottom: 0px !important;">
                                    </div>
                                </li>
                            {{/ifDuelReq}}
                        {{/when}}
                        <br>
                    {{/each}}
                </ul>
            </div>
        </section>

        <div class="row fifties">
            <div class="col" style="justify-content: center; margin-top: 20px;">
                <form id="sendRoomMessageForm" action="/api/chat_messages.json" accept-charset="UTF-8"
                    method="POST" style="display: inline;">
                    <input type="hidden" name="authenticity_token" value="{{token}}">
                    {{!-- Room Data --}}
                    <input type="hidden" id="roomOwner" name="chat_message[from_id]" value="{{currentUser.id}}">
                    <input type="hidden" id="roomID" name="chat_message[direct_chat_id]" value="{{chatID}}">

                    <input class="btn sized-text-md" style="float: right; background-color:rgb(24, 119, 242); color:azure" type="submit" value="Send"> 
                    <div style="overflow: hidden; padding-right: .5em;">
                        <input style="width: 100%;" class="form-control sized-text-md" autocomplete="off" placeholder="Message" type="text" id="message" name="chat_message[message]">
                    </div>
                </form>
            </div>
        </div>
        {{#if otherUser.in_game}}
            <a class="btn btn-secondary btn-block fifties sized-text-sm text" style="width: 100%!important; margin-left: 0%!important" href="#game/{{otherUser.roomid}}">Look player Game</a>
        {{/if}}
    </div>
</div>

<script>
    var element = document.getElementById("list-message-in");
    element.scrollTop = element.scrollHeight;
</script>