<div id="checkRoomPresence"></div>

<div class="administratorRoomView">

        <a class="btn btn-primary" href="#room" role="button">Back</a>
        <br>
        <br>

        <p> Your status of <strong><u>{{status}}</u></strong> offers some administrator rights : </p><br>
        <br>

    {{#when status "eq" "superAdmin"}}
    <div class="superAdminSection">
    </div>
    {{/when}}

    {{#when status "eq" "owner"}}

    <div class="ownerSection">


        <form id="promoteAdminForm" action="/api/rooms/promoteAdmin.json" accept-charset="UTF-8" method="POST">
            
            <input type="hidden" name="authenticity_token" value="{{token}}">

            <h3>Promote as admin: </h3>
            <select name="room[member]" id="member-select">
                {{#each roomMembers}}
                    <option value="{{id}}">{{nickname}}</option>
                {{/each}}
            </select>

            <input type="hidden" name="room[id]" value="{{room_id}}">

            <br><br>
            <input type="submit" value="Confirm promote">
            <br><br>
        </form>

        <form id="demoteAdminForm" action="/api/rooms/demoteAdmin.json" accept-charset="UTF-8" method="POST">
            
            <input type="hidden" name="authenticity_token" value="{{token}}">

            <h3>Demote as member: </h3>
            <select name="room[member]" id="member-select">
                {{#each roomAdmins}}
                    <option value="{{id}}">{{nickname}}</option>
                {{/each}}
            </select>

            <input type="hidden" name="room[id]" value="{{room_id}}">

            <br><br>
            <input type="submit" value="Confirm demote">
            <br><br>
        </form>

    </div>
    {{/when}}

    {{#when status "eq" "admin"}}

    <div class="adminSection">
    </div>
    {{/when}}


</div>