<div id="roomIndexPage">

</div>

<br>
<p>Logged in as {{user.nickname}}</p><br>
{{!-- Rooms joined or owned by the current user  --}}

<a class="btn btn-primary" href="#room/new" role="button">Create a new room</a>
<br><br>

<br>
<h3> • Open or Join chat rooms </h3><br>
{{!-- Every Rooms from DB except whoses which are owned by current user  --}}
<div>

    <ul class="list-group">
        {{!-- https://stackoverflow.com/questions/27719071/nested-if-inside-each-handlebars-template-in-express-app --}}
        {{#each rooms}}
        <li class="list-group-item"> {{name}} ({{privacy}}) :

            {{#when privacy "eq" "private" }}
        
                <form class="privateRoomAuthForm" id="privateRoomAuthForm-{{id}}" style="display: inline;" id="{{../formID}}" action="/api/rooms/join.json" accept-charset="UTF-8" method="{{../method}}">
                    <input type="hidden" name="authenticity_token" value="{{../token}}">
                    <label for="roomPassword">Password : </label>
                   {{!-- L'emplacement en seconde position est important car on récupère le contenu du field après ! --}}
                    <input type="text" class="privateRoomAuthFormField" id="roomPassword" name="room[password]">
                    <input type="hidden" id="roomOwner" name="room[owner_id]" value="{{owner_id}}">
                    <input type="hidden" id="roomID" name="room[room_id]" value="{{id}}">
                    <input type="submit" value="{{../submitText}}">
                </form>

            {{/when}}
            {{#when privacy "noteq" "private" }}
            <a style="font-size: 14px;" href="#rooms/{{id}}">Open</a>
            {{/when}}
              {{#when owner_id "eq" ../user.id }}
                <a style="font-size: 14px;" href="#room/edit/{{id}}">Edit</a>
            {{/when}}
        </li>
        <br>
        {{/each}}
        <br>

    </ul>
</div>