<script>
    	var scrollElem = document.getElementById('list-message');
		if (scrollElem) scrollElem.scroll(0, scrollElem.scrollHeight);
        var focusElem = document.getElementById('message');
		if (focusElem) focusElem.focus();
</script>

<div id="checkRoomPresence"></div>
<div id="userID" value="{{currentUser.id}}"></div>

<div class="container">
    <nav class="navbar navbar-dark bg-dark fifties" id="nav" style="margin-top: 20px;">
        <p class="navbar-brand sized-text-lg">{{currentRoom.name}}</p>
        <div id="navbarNav">
            <ul class="navbar-nav">
                {{#when inspectMode 'eq' false }}
                    <li class="nav-item active">
                        <form class="duelForm nav-item active" id="sendDuelRequest" action="/api/rooms/createDuelRequest.json" accept-charset="UTF-8"
                            method="POST">
                            <input type="hidden" name="authenticity_token" value="{{token}}">
                            <input type="hidden" name="duel_request[user_id]" value="{{currentUser.id}}">
                            <input type="hidden" name="duel_request[room_id]" value="{{roomID}}">
                            <input class="btn btn-outline-success btn-sm" style="background-color:rgb(24, 119, 242); color:azure" type="submit" value="Send game request"> 
                            <select class="form-control-sm" name="duel_request[is_ranked]">
                                <option value="false">Normal</option>
                                <option value="true">Ranked</option>
                            </select>
                        </form>
                    </li>
                {{/when}}
            </ul>
        </div>
    </nav>
 
    <section class="container-fluid">
        <ul id="list-message-in" style="padding-top: 20px;">
            <div class="chat" data-channel-subscribe="room" data-room-id="{{currentRoom.id}}">
                {{#each roomMessages}}

                    {{#when user_id "noteq" ../currentUser.id}}
                        <li class="list-group-item fifties blk-text" style="margin-right: 20%;">
                            <div class="otherMessage dont-break-out">
                                

                                <a href="#profiles/ {{#getUserAttributes ../members user_id "id"}}{{/getUserAttributes}}">
                                    <img src="{{#getUserAttributes ../members user_id "image"}}{{/getUserAttributes}}"
                                    alt="Avatar" class="avatar">
                                </a>

                                {{#ifDuelReq is_duel_request}}
                                    <form id="AcceptDuelRequest" action="/api/direct_chats/acceptDuelRequest" accept-charset="UTF-8"
                                        method="POST" style="display: inline;">
                                        <input type="hidden" name="authenticity_token" value="{{../token}}">
                                        {{!-- Room Data --}}
                                        <input type="hidden" name="duel_request[first_user_id]" value="{{user_id}}">
                                        <input type="hidden" name="duel_request[second_user_id]" value="{{../currentUser.id}}">
                                        <input type="hidden" name="duel_request[is_ranked]" value={{is_ranked}}>
                                        {{#ifRanked is_ranked}}
                                            <input class="btn btn-success" type="submit" value="Accept ranked game"> 
                                        {{else}}
                                            <input class="btn btn-success" type="submit" value="Accept normal game"> 
                                        {{/ifRanked}}
                                    </form>
                                {{else}}
                                    <label class="message sized-text-md" data-role="message-text">{{message}}</label>
                                {{/ifDuelReq}}
                            </div>
                        </li>
                    {{/when}}
                    {{#when user_id "eq" ../currentUser.id}}
                        {{#ifDuelReq is_duel_request}} {{!-- IF CURRENT USER DUAL REQUEST DISPLAY NOTHING --}}
                        {{else}}
                            <li class="list-group-item fifties" style="background: rgb(0, 106, 255); margin-left: 20%; margin-right: 10px;">
                                <div class="dont-break-out" style="text-align: right;">
                                    <label class="message sized-text-md" data-role="message-text">{{message}}</label>
                                    <img src="{{../currentUser.image}}" alt="Avatar" class="avatar">
                                </div>
                            </li>
                        {{/ifDuelReq}}
                    {{/when}}
                    <br>
                {{/each}}
            </div>
        </ul>

        {{#when inspectMode 'eq' false }}
            <form id="{{messageCreateForm.formID}}" action="/api/room_messages.json" accept-charset="UTF-8"
                method="{{messageCreateForm.method}}">
                <input type="hidden" name="authenticity_token" value="{{token}}">
                {{!-- Room Data --}}
                <input type="hidden" id="roomOwner" name="room_message[user_id]" value="{{currentUser.id}}">
                <input type="hidden" id="roomID" name="room_message[room_id]" value="{{currentRoom.id}}">
                <br>

            
                <input class="btn btn-success" style="float: right;" type="submit" value="{{messageCreateForm.submitText}}">
                <div style="overflow: hidden; padding-right: .5em;">
                <input style="width: 100%;" class="form-control" placeholder="Message" autocomplete="off" type="text" id="message" name="room_message[message]">
                </div>
                <br>
            </form>
        {{/when}}

    </section>
</div>

<script>
    var element = document.getElementById("list-message-in");
    element.scrollTop = element.scrollHeight;
</script>