<div class="margin25Div">

	<p><strong> <u> Admin page </u></strong></p>

	{{#each allUsers}}
	<div>


		<div style="min-width: 100px; display:inline-block">
			<p>{{nickname}}</p>
		</div>


		{{!-- BAN / UNBAN --}}
		{{#if banned}}
		&nbsp;
		<span class="clickToUnbanUser pointer">
			UNBAN
			<span class="nodisplay">{{id}}</span>
		</span>
		{{else}}
		&nbsp;
		<span class="clickToBanUser pointer">
			BAN
			<span class="nodisplay">{{id}}</span>
		</span>
		{{/if}}

		{{!-- PROMOTE / DEMOTE --}}
		{{#if admin}}
		&nbsp;
		<span class="clickToDemoteUser pointer">
			DEMOTE
			<span class="nodisplay">{{id}}</span>
		</span>
		{{else}}
		&nbsp;
		<span class="clickToPromoteUser pointer">
			PROMOTE
			<span class="nodisplay">{{id}}</span>
		</span>
		{{/if}}
	</div>
	{{/each}}

<form style="display: none;" id="adminForm" method="POST">
	<input type="hidden" name="authenticity_token" value="{{token}}">
	<input type="text" name="id" id="userIDField">
</form>


<br>

<a class="btn btn-info" href="#">
	Home
</a>


</div>