<div class="margin25Div">
	<p class="fifties blk-text user-name big-title"> <u> Admin page </u></p>
	<ul class="list-group">
		{{#each allUsers}}
		<li class="list-group-item fifties blk-text admin-page-list">
			<div style="min-width: 100px; display:inline-block">
				<p>{{nickname}}</p>
			</div>
			{{#if creator}}
				(website creator)
			{{else}}
			{{#unless you}}
			{{!-- BAN / UNBAN --}}
			{{#if banned}}
			&nbsp;
			<span class="clickToUnbanUser pointer btn btn-success">
				UNBAN
				<span class="nodisplay">{{id}}</span>
			</span>
			{{else}}
			&nbsp;
			<span class="clickToBanUser pointer btn btn-danger">
				BAN
				<span class="nodisplay">{{id}}</span>
			</span>
			{{/if}}

			{{!-- PROMOTE / DEMOTE --}}
			{{#if admin}}
			&nbsp;
			<span class="clickToDemoteUser pointer btn btn-danger">
				DEMOTE
				<span class="nodisplay">{{id}}</span>
			</span>
			{{else}}
			&nbsp;
			<span class="clickToPromoteUser pointer btn btn-success">
				PROMOTE
				<span class="nodisplay">{{id}}</span>
			</span>
			{{/if}}
			{{/unless}}
			{{/if}}
		</li>
		{{/each}}
	</ul>

	<form style="display: none;" id="adminForm" method="POST">
		<input type="hidden" name="authenticity_token" value="{{token}}">
		<input type="text" name="id" id="userIDField">
	</form>

	<a class="btn btn-primary btn-lg btn-block fifties" href="#">
		Home
	</a>
</div>