<div id="app"></div>
<script type="text/javascript">
	App.toast = siiimpleToast;
	App.toastStyle = {
		"fontSize": "20px"
	};

	function initApp() {
		App.templates = HandlebarsTemplates;
		App.routers.main = new AppClasses.Routers.Main();
		if(!Backbone.History.started)  {
			Backbone.history.start(); // using anchor for routing
		}
		document.onkeydown = e => {
			if (!e.altKey || !e.ctrlKey) {
				return;
			}
			switch (e.code) {
				case "KeyL":
					location.hash = "#logs";
					break;
				case "KeyP":
					location.hash = "#profile";
					break;
				case "KeyT":
					location.hash = "#tournaments";
					break;
				case "KeyM":
					location.hash = "#messages";
					break;
				case "KeyR":
					location.hash = "#room";
					break;
				case "KeyF":
					location.hash = "#friends";
					break;
				case "KeyG":
					location.hash = "#guilds";
					break;
				case "KeyS":
					location.hash = "#profiles";
					break;
			}
		}
	};
	
	<% signinLink = link_to "Sign in with 42", user_marvin_omniauth_authorize_path %>
	<% signoutLink = link_to "Sign out", destroy_user_session_path, :method => :delete %>

	<% if user_signed_in? && !current_user.banned %>
		// providing data to instantiate our user model
		App.data.user = <%= User.clean(current_user).to_json.html_safe %>
		App.data.links = {
			signin: `<%= signinLink %>`,
			signout: `<%= signoutLink %>`,
			enable2fa: `<%= profile_enable_otp_path %>`,
			disable2fa: `<%= profile_disable_otp_path %>`,
			authenticator: `<%= current_user.otp_provisioning_uri(current_user.email, issuer: "ft_transcendence") %>`
		};
		App.errorLogs = [];
		App.guildPopstate = {
			from: "",
			redirect: true
		};
		initApp(); // init backbone only for connected users
	<% elsif user_signed_in? && current_user.banned %>
		$("#app").html(`You are banned.`)
	<% else %>
		// if user is not connected, just display a signin form
		$("#app").html(`<%= render 'signin' %>`)
	<% end %>

	// if there are notices or alerts, display them
	if ($(".notice").text() !== "") {
		App.toast.success($(".notice").text(), { duration: 3500, style: App.toastStyle });
	}
	if ($(".alert").text() !== "") {
		App.toast.alert($(".alert").text(), { duration: 10000, style: App.toastStyle });
	}
</script>
