<div id="app"></div>
<script type="text/javascript">
	App.toast = siiimpleToast;
	App.toastStyle = {
		"fontSize": "20px"
	};

	function initApp() {
		App.templates = HandlebarsTemplates;
		App.routers.main = new AppClasses.Routers.Main();
		if(!Backbone.History.started)  {
			console.log("Backbone history started")
			Backbone.history.start(); // using anchor for routing
		}
	};
	
	<% signinLink = link_to "Sign in with 42", user_marvin_omniauth_authorize_path %>
	<% signoutLink = link_to "Sign out", destroy_user_session_path, :method => :delete %>

	<% if user_signed_in? && !current_user.banned %>
		// providing data to instantiate our user model
		App.data.user = {
			nickname: <%= current_user.nickname.to_json.html_safe %>,
			email: <%= current_user.email.to_json.html_safe %>,
			image: <%= current_user.image.to_json.html_safe %>,
			id: <%= current_user.id.to_json.html_safe %>,
			two_factor: <%= current_user.otp_required_for_login.to_json.html_safe %>,
			guild_id: <%= current_user.guild_id.to_json.html_safe %>,
			guild_owner: <%= current_user.guild_owner.to_json.html_safe %>,
			guild_officer: <%= current_user.guild_officer.to_json.html_safe %>,
			guild_validated: <%= current_user.guild_validated.to_json.html_safe %>,
			friends: <%= current_user.friends.to_json.html_safe %>,
			invites: <%= current_user.invites.to_json.html_safe %>,
			admin: <%= current_user.admin.to_json.html_safe %>
		};
		App.data.links = {
			signin: `<%= signinLink %>`,
			signout: `<%= signoutLink %>`,
			enable2fa: `<%= profile_enable_otp_path %>`,
			disable2fa: `<%= profile_disable_otp_path %>`,
			authenticator: `<%= current_user.otp_provisioning_uri(current_user.email, issuer: "ft_transcendence") %>`
		};
		initApp(); // init backbone only for connected users
	<% elsif user_signed_in? && current_user.banned %>
		$("#app").html(`You are banned.`)
	<% else %>
		// if user is not connected, just display a signin form
		$("#app").html(`<%= render 'signin' %>`)
	<% end %>

	// if there are notices or alerts, display them
	if ($(".notice").text() !== "") {
		App.toast.success($(".notice").text(), { duration: 3500, style: App.toastStyle });
	}
	if ($(".alert").text() !== "") {
		App.toast.alert($(".alert").text(), { duration: 10000, style: App.toastStyle });
	}
</script>
