<div class="margin25Div">

	<p class="fifties blk-text big-title text-center"><u> {{titleText}}</u></p>
	<br>

	<form id="{{formID}}" action="/api/guilds.json" accept-charset="UTF-8" method="{{method}}">
		<input type="hidden" name="authenticity_token" value="{{token}}">
		<label class="fifties blk-text" for="guildName">Guild name</label>
		<input class="form-control" type="text" id="guildName" value="{{guild.name}}" name="guild[name]">
		<br>
		<label class="fifties blk-text" for="guildName">Guild Anagram</label>
		<input class="form-control" type="text" id="guildAnagram" value="{{guild.anagram}}" name="guild[anagram]">
		<br>
		<br>
		<input class="fifties btn btn-success btn-lg btn-block" type="submit" value="{{submitText}}">
		<br>
	</form>

	{{#if guild.name }}
	<hr>
	<button class="fifties btn btn-danger btn-lg btn-block" id="viewDelForm">Delete this guild</button>
	<br>
	<br>
	<form class="text-center" style="display: none;" id="guildDeleteForm" method="DELETE">
		<input type="hidden" name="authenticity_token" value="{{token}}">
		<label class="fifties blk-text" for="confirmGuildName">Confirm guild name </label>
		<input type="text" id="confirmGuildName">
		<input class="fifties btn btn-danger" type="submit" value="Confirm deletion">
	</form>
	{{/if}}
</div>
<a class="btn btn-info btn-lg btn-block" href="javascript:history.back()">Back</a>


{{!-- <h1>{{titleText}}</h1>

<form id="{{formID}}" action="/api/guilds.json" accept-charset="UTF-8" method="{{method}}">
	<input type="hidden" name="authenticity_token" value="{{token}}">
	<label for="guildName">Guild name</label>
	<input type="text" id="guildName" value="{{guild.name}}" name="guild[name]">
	<label for="guildAnagram">Guild anagram</label>
	<input type="text" id="guildAnagram" value="{{guild.anagram}}" name="guild[anagram]">
	<br>
	<br>
	<input type="submit" value="{{submitText}}">
	<br>
</form>
{{#if guild.name }}
<br>
<button id="viewDelForm">Delete this guild</button>
<form style="display: none;" id="guildDeleteForm" method="DELETE">
	<input type="hidden" name="authenticity_token" value="{{token}}">
	<label for="confirmGuildName">Type guild name</label>
	<input type="text" id="confirmGuildName">
	<input type="submit" value="Confirm deletion">
</form>
{{/if}}

<br>
<a href="#">Home</a> --}}