<h1>Guild ladder</h1>
<br>
{{#each guilds}}
    <div>
		<h2 style="display: inline;">{{rank}} | {{points}} points | </h2>
		<a style="font-size: 20px;" href="#guilds/{{id}}">[{{anagram}}] {{name}}</a>
		<br>
	</div>
{{/each}}
<br>
<br>
<a href="#guilds/mine">My guild</a>
<br>
<a href="#">Home</a>
