<div class="margin25Div">


	<p style="font-size: 20px;"> <u> <strong> Guild Ladder </strong></u>  &nbsp; ⚛ </p>

	<br>
	{{#each guilds}}
	<div>
		<h2> {{name}} </h2>
		<p>{{points}} points &nbsp; Rank {{rank}}</p>

		<a style="font-size: 14px;" class="btn btn-primary" href="#guilds/{{id}}">[{{anagram}}] {{name}}</a>

	</div>
	{{/each}}

	<br>
	<hr>
	<br>
	<a class="btn btn-success" href="#guilds/mine">My Guild</a>
	<br><br>
	<a class="btn btn-info" href="#">Home</a>


</div>