<div class="margin25Div">


	<p class="fifties blk-text big-title text-center"> <u> <strong> Guild Ladder </strong></u>  &nbsp; ⚛ </p>

	<br>
	<ul class="list-group">
		{{#each guilds}}
		<li class="list-group-item">
			<p class="fifties blk-text"> {{name}} </p>
			<p class="atari atari-back" style="padding-bottom: 10px; width: 70%; margin-left: 15%;">{{points}} points &nbsp; Rank {{rank}}</p>

			<a style="font-size: 14px;" class="btn btn-primary btn-lg btn-block" href="#guilds/{{id}}">[{{anagram}}] {{name}}</a>

		</li>
		{{/each}}
	</ul>

	<br>
	<hr>
	<div class="btn-group special" role="group">
		<a class="btn btn-success" href="#guilds/mine">My Guild</a>
		<a class="btn btn-info" href="#">Home</a>
	</div>


</div>