<div class="margin25Div">



{{#if guild }}

	<p class="fifties blk-text big-title text-center"><u></u>{{guild.name}} [{{guild.anagram}}]</p>

	<div class="input-group">
		<div class="input-group-prepend">
			<span class="input-group-text atari atari-back">Points </span>
		</div>
		<p class="form-control atari atari-back text-center"> {{guild.points}} </p>
	</div>
	<hr>

	<p class="fifties blk-text text-center big-title">Users</p>
	<br>
	<ul class="list-group">
		{{#each guild.users}}
		<li class="list-group-item">
			<img src="{{image}}" style="max-height: 50px;" class="clear">
			<a class="btn btn-primary btn-sm font20" href="#profiles/{{ id }}">{{ nickname }}</a>

			{{#if guild_owner}}
			<sub><b class="">Owner </b></sub>
			{{/if}}
			{{#if guild_officer}}
			<sub><b class="">Officer</b></sub>
			{{/if}}
		</li>
		<br>
		{{/each}}
	</ul>

	{{#if officerRights}}
	<br><hr><br>
	<p class="fifties blk-text text-center big-title"> <strong>Accept requests </strong></p>
	<ul class="list-group">
		{{#each guild.requests}}
		<li class="acceptRequestGuild list-group-item">
			<img src="{{image}}" style="max-height: 50px;" class="clear">
			<a class="btn btn-primary btn-sm font20" href="#profiles/{{ id }}">{{ nickname }}</a>
			<span class="nodisplay">{{id}}</span>
		</li>
		{{/each}}
	</ul>
	{{/if}}

	<br><hr><br>

	<p class="fifties blk-text text-center big-title">War history</p>

	<ul class="list-group">
	{{#each wars}}
		<article class="list-group-item">
			<h4>
				{{#if planning }}
					This war is still being planned by guild owners
				{{else if pending }}
					This war is active
				{{else}}
					{{#if won }}
					Victory
					{{else}}
					Defeat
					{{/if}}
				{{/if}}
			</h4>
			<p class="atari atari-back"> {{ you }} VS <a href="#guilds/{{ enemy.id }}">{{ enemy.name }}</a> </p>
			<p>
				{{!-- {{#if won }}
				{{ winner_score }} - {{ loser_score }}
				{{else}}
				{{ loser_score }} - {{ winner_score }}
				{{/if}} --}}
			</p>
		</article>
	{{/each}}
	</ul>

	{{#if isInGuild}}
	<form method="POST" id="quitGuildForm">
		<input type="hidden" name="authenticity_token" value="{{token}}">
		<input class="btn btn-danger btn-lg btn-block" type="submit" value="Quit guild">
	</form>
	<br>
	{{else}}
	<form method="POST" id="joinGuildForm">
		<input type="hidden" name="authenticity_token" value="{{token}}">
		<input type="hidden" name="id" value="{{guild.id}}">
		<input class="btn btn-primary btn-lg btn-block" type="submit" value="Send join request">
	</form>
	<br>
	{{/if}}
{{else}}
	<h1>This guild does not seem to exist</h1>
	<br><br>
{{/if}}

	<div class="btn-group special">
		{{#if owner }}
		<a class="btn btn-info btn-lg" href="#guilds/edit">Edit guild</a>
		<br><br>
		{{#if guild.active_war}}
			{{#if guild.active_war.planning}}
				<a class="btn btn-info btn-lg" href="#guilds/{{guild.id}}/war">Edit war</a><br><br>
			{{/if}}
		{{else}}
			<a class="btn btn-info btn-lg" href="#guilds/{{guild.id}}/war">Create new War</a><br><br>
		{{/if}}

		{{/if}}

		<a class="btn btn-success btn-lg" href="#guilds">Guilds list</a>
		<a class="btn btn-secondary btn-lg" href="#">Home</a>
	</div>
	<br><br>
	<form style="display: none;" method="POST" id="acceptRequestForm">
		<input type="hidden" name="authenticity_token" value="{{token}}">
		<input type="hidden" name="id" value="" id="acceptRequestIDField">
		<input class="btn btn-success" type="submit" value="Send join request">
	</form>

</div>