<div class="margin25Div">



	{{#if guild }}
	<div style="min-width: 100px; display: inline-block;">   Name </div> 
		<p style="font-size: 20px; display: inline-block;">	: &nbsp; {{guild.name}} </p>
		<br>
	<div style="min-width: 100px;  display: inline-block;">   Anagram </div> 
		<p style="font-size: 20px; display: inline-block;">	: &nbsp; {{guild.anagram}} </p>
		<br>
	<div style="min-width: 100px;  display: inline-block;">   Points </div>
		<p style="font-size: 20px; display: inline-block;">	: &nbsp; {{guild.points}} </p>
		<br>

	<div>Users</div><br>
	<ul>
		{{#each guild.users}}
		<li>
			<a class="btn btn-outline-info btn-sm font20" href="#profiles/{{ id }}">{{ nickname }}</a>

			{{#if guild_owner}}
			<b class="chip">Owner</b>
			{{/if}}
			{{#if guild_officer}}
			<b class="chip">Officer</b>
			{{/if}}
		</li>
		<br>
		{{/each}}
	</ul>

	<br><hr><br>

	{{#if officerRights}}
	<p> <strong>Accept requests </strong></p>
	<ul>
		{{#each guild.requests}}
		<li class="acceptRequestGuild">
			{{nickname}}
			<span class="nodisplay">{{id}}</span>
		</li>
		{{/each}}
	</ul>
	{{/if}}

	<br><hr><br>

	{{#if isInGuild}}
	<form method="POST" id="quitGuildForm">
		<input type="hidden" name="authenticity_token" value="{{token}}">
		<input class="btn btn-danger" type="submit" value="Quit guild">
	</form>
	<br>
	{{else}}
	<form method="POST" id="joinGuildForm">
		<input type="hidden" name="authenticity_token" value="{{token}}">
		<input type="hidden" name="id" value="{{guild.id}}">
		<input class="btn btn-primary" type="submit" value="Send join request">
	</form>
	<br>
	{{/if}}
	{{else}}
	<h1>This guild does not seem to exist</h1>
	<br><br>
	{{/if}}

	{{#if owner }}
	<a class="btn btn-info" href="#guilds/edit">Edit</a>
	<br><br>
	<a class="btn btn-info" href="#guilds/{{guild.id}}/new_war">New war</a>
	<br><br>
	{{/if}}

	<a class="btn btn-success" href="#guilds">Guilds list</a>
	<br><br>
	<a class="btn btn-secondary" href="#">Home</a>
	<br><br>
	<form style="display: none;" method="POST" id="acceptRequestForm">
		<input type="hidden" name="authenticity_token" value="{{token}}">
		<input type="hidden" name="id" value="" id="acceptRequestIDField">
		<input class="btn btn-success" type="submit" value="Send join request">
	</form>


</div>