{{#if guild }}
<h2>name: {{guild.name}}</h2>
<h3>anagram: {{guild.anagram}}</h3>
<h3>points: {{guild.points}}</h3>
<h3>users:</h3>
<ul>
	{{#each guild.users}}
	<li>{{nickname}}</li>
	{{/each}}
</ul>

{{#if officerRights}}
<h3>Accept requests:</h3>
<ul>
	{{#each guild.requests}}
	<li class="acceptRequestGuild">
		{{nickname}}
		<span class="nodisplay">{{id}}</span>
	</li>
	{{/each}}
</ul>
{{/if}}

{{#if isInGuild}}
<form method="POST" id="quitGuildForm">
	<input type="hidden" name="authenticity_token" value="{{token}}">
	<input type="submit" value="Quit guild">
</form>
{{else}}
<form method="POST" id="joinGuildForm">
	<input type="hidden" name="authenticity_token" value="{{token}}">
	<input type="hidden" name="id" value="{{guild.id}}">
	<input type="submit" value="Send join request">
</form>
{{/if}}
{{else}}
<h1>This guild does not seem to exist</h1>
<br>
{{/if}}

{{#if owner }}
<a href="#guilds/edit">Edit</a>
<br>
{{/if}}

<a href="#guilds">Guilds list</a>
<br>
<a href="#">Home</a>

<form style="display: none;" method="POST" id="acceptRequestForm">
	<input type="hidden" name="authenticity_token" value="{{token}}">
	<input type="hidden" name="id" value="" id="acceptRequestIDField">
	<input type="submit" value="Send join request">
</form>
