<div class="margin25Div">



{{#if guild }}

	<p class="fifties blk-text big-title text-center"><u></u>{{guild.name}} [{{guild.anagram}}]</p>

	<div class="input-group">
		<div class="input-group-prepend">
			<span class="input-group-text atari atari-back">Points </span>
		</div>
		<p class="form-control atari atari-back text-center"> {{guild.points}} </p>
	</div>
	<hr>

	<p class="fifties blk-text text-center big-title">Users</p>
	<br>
	<ul class="list-group">
		{{#each guild.users}}
		<li class="list-group-item">
			<a class="btn btn-sm font20" href="#profiles/{{ id }}">
				<img src="{{image}}" style="max-height: 50px;" class="clear avatar2">
				<p class="text-maxwidth-sm">{{ nickname }}</p>
			</a>

			{{#if guild_owner}}
				<b class="font14">Owner </b>
			{{else if guild_officer}}
				<b class="font14">Officer </b>
				{{#if ../officerRights}}
					<button class="officerToggle btn btn-danger">
						Demote
						<span class="nodisplay">{{id}}</span>
						<span class="nodisplay">demote</span>
					</button>
				{{/if}}
			{{else if ../officerRights}}
				<button class="officerToggle btn btn-success">
					Promote
					<span class="nodisplay">{{id}}</span>
					<span class="nodisplay">promote</span>
				</button>
			{{/if}}
			{{#if in_game}}
				<a class="btn btn-secondary btn-block fifties sized-text text-maxwidth-md" href="#game/{{roomid}}">Look player Game</a>
			{{/if}}
		</li>
		<br>
		{{/each}}
	</ul>

	{{#if officerRights}}
	<br><hr><br>
	<p class="fifties blk-text text-center big-title"> <strong>Users requests </strong></p>
	<ul class="list-group">
		{{#each guild.requests}}
		{{#unless g_invitation}}
		<li class="list-group-item">
			<a class="btn btn-sm font20" href="#profiles/{{ id }}">
				<img src="{{image}}" style="max-height: 50px;" class="clear avatar2">
				<p class="text-maxwidth-sm">{{ nickname }}</p>
			</a>
			<button class="resToRequestGuild btn btn-success">
				Accept
				<span class="nodisplay">{{id}}</span>
				<span class="nodisplay">accept</span>
			</button>
			<button class="resToRequestGuild btn btn-danger">
				Reject
				<span class="nodisplay">{{id}}</span>
				<span class="nodisplay">reject</span>
			</button>
		</li>
		{{/unless}}
		{{/each}}
	</ul>
	{{/if}}

	<br><hr><br>

	<p class="fifties blk-text text-center big-title">War history</p>

	<ul class="list-group">
	{{#each wars}}
		<article class="list-group-item">
			<p class="atari atari-back">
				{{ you }} VS <a href="#guilds/{{ enemy.id }}">{{ enemy.name }}</a>
			</p>
			<h4>
				{{#if planning }}
					This war is still being planned by guild owners
				{{else if running }}
					This war is active
				{{else if not_started}}
					This war will start soon
				{{else}}
					{{#if won }}
					Victory
					{{else if draw}}
					Draw
					{{else}}
					Defeat
					{{/if}}
				{{/if}}
			</h4>
			{{your_score}} - {{enemy_score}}
			<p>Start {{dateStr start}}</p>
			<p>End {{dateStr end}}</p>
			{{#if running}}
				<h6>War time timetable</h6>
				(each war time will last {{war_time_len}} minutes)
				<br>
				{{#each war_times}}
					{{dateStr start}}
				{{/each}}
			{{/if}}
			{{#if user_is_in_guild}}
				{{#if in_war_time}}
					<br>
					{{#if war_time_match}}
						<button class="btn btn-warning">War time match in progress</button>
					{{else}}
						{{#if response_needed}}
							<button id="warTimeFightRequest" class="btn btn-danger">
								Respond to fight request
							</button>
						{{else}}
							{{#if match_request_guild}}
								<button class="btn btn-warning">
									Waiting other guild response
								</button>
							{{else}}
								<button id="warTimeFightRequest" class="btn btn-primary">
									Request war time fight
								</button>
							{{/if}}
						{{/if}}
					{{/if}}
				{{/if}}
			{{/if}}
			<hr>
		</article>
	{{/each}}
	</ul>

	{{#if isInGuild}}
	<form method="POST" id="quitGuildForm">
		<input type="hidden" name="authenticity_token" value="{{token}}">
		<input class="btn btn-danger btn-lg btn-block" type="submit" value="Quit guild">
	</form>
	<br>
	{{else}}
	<form method="POST" id="joinGuildForm">
		<input type="hidden" name="authenticity_token" value="{{token}}">
		<input type="hidden" name="id" value="{{guild.id}}">
		<input class="btn btn-primary btn-lg btn-block" type="submit" value="Send join request">
	</form>
	<br>
	{{/if}}
{{else}}
	<h1>This guild does not seem to exist</h1>
	<br><br>
{{/if}}

	<div class="btn-group special">
		{{#if owner }}
		<a class="btn btn-info btn-lg" href="#guilds/edit">Edit guild</a>
		<br><br>
		{{#if guild.active_war}}
			{{#if guild.active_war.planning}}
				<a class="btn btn-info btn-lg" href="#guilds/{{guild.id}}/war">Edit war</a><br><br>
			{{/if}}
		{{else}}
			<a class="btn btn-info btn-lg" href="#guilds/{{guild.id}}/war">Create new War</a><br><br>
		{{/if}}

		{{/if}}

		<a class="btn btn-success btn-lg" href="#guilds">Guilds list</a>
		<a class="btn btn-secondary btn-lg" href="#">Home</a>
	</div>
	<br><br>
	<form style="display: none;" method="POST" id="acceptRequestForm">
		<input type="hidden" name="authenticity_token" value="{{token}}">
		<input type="hidden" name="id" value="" id="acceptRequestIDField">
	</form>

	<form style="display: none;" method="POST" id="warTimeFightRequestForm">
		<input type="hidden" name="authenticity_token" value="{{token}}">
	</form>

	<form style="display: none;" method="POST" id="officerToggleForm">
		<input type="hidden" name="authenticity_token" value="{{token}}">
		<input type="hidden" name="id" value="" id="officerIdField">
	</form>

</div>