<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Privacy:</strong>
  <%= @room.privacy %>
</p>

<p>
  <strong>Password:</strong>
  <%= @room.password %>
</p>

<p>
  <strong>User:</strong>
  <%= @room.user_id %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
