<ul class="list-group">
	{{#each user.friends}}
	<li class="list-group-item fifties blk-text">
		<a href="#profiles/{{id}}" class="sized-text-md"><strong> {{nickname}} </strong>
		({{print_status}})</a>
		&nbsp;
		<div class="btn-group">
			<span class="clickToDeleteFriend pointer btn btn-danger sized-text-md">
				DELETE
				<span class="nodisplay">{{id}}</span>
			</span>
			{{#if user.in_game}}
				<a class="btn btn-secondary sized-text-md" href="#game/{{user.roomid}}">Look player Game</a>
			{{/if}}
		</div>
	</li>
	{{/each}}
</ul>