<div class="allProfilesList">
	<br>
	<h3> <u>Users List  </u>&nbsp; 🏓
	</h3>
	<br>

	{{#each users}}

	<div>
		<div style="font-size: 20px; min-width: 150px; display: inline-block">
			• {{nickname}}
		</div>
		&nbsp;
		<a class="btn btn-outline-info" style="font-size: 14px;" href="#profiles/{{id}}">Profile Page</a>
		&nbsp;&nbsp;

		{{#when ../currentUser.id "noteq" id }}
			{{#ifIn id  ../blockedTabIDs}}
				<form class="blockUnBlockForm" id="blockUnBlockForm-{{id}}" style="display: inline;"
					action="{{../formBlock.url}}" accept-charset="UTF-8" method="{{../formBlock.method}}">
					<input type="hidden" name="authenticity_token" value="{{../token}}">
					<input type="hidden" name="targetUserID" value="{{id}}">
					<input type="hidden" name="typeAction" value="unblock">
					&nbsp;
					<input class="btn btn-warning btn-sm" type="submit" value="Unblock">
				</form>
			{{/ifIn}}
			{{#ifNotIn id  ../blockedTabIDs}}
				<form class="blockUnBlockForm" id="blockUnBlockForm-{{id}}" style="display: inline;"
					action="{{../formBlock.url}}" accept-charset="UTF-8" method="{{../formBlock.method}}">
					<input type="hidden" name="authenticity_token" value="{{../token}}">
					<input type="hidden" name="targetUserID" value="{{id}}">
					<input type="hidden" name="typeAction" value="block">
					&nbsp;
					<input class="btn btn-outline-warning btn-sm" type="submit" value="Block">
				</form>
			{{/ifNotIn}}
		{{/when}}

		<br><br>
	</div>
	{{/each}}

	<br>
	<br>
	<a class="btn btn-info" href="#profile">My profile</a>
	<br><br>
	<a class="btn btn-dark" href="#">Home</a>


</div>