<div class="margin25Div text-center">



	{{#if user}}
	<p class="fifties blk-text big-title text-maxwidth-lg">
		<u>
			{{user.nickname}}
		</u>
	</p>
	<br>
	<img src="{{user.image}}" style="max-height: 200px;">
	<hr>
	
	<p class="fifties blk-text big-title">
		<u>
			ELO
		</u>
	</p>
	<p class="atari atari-back sized-text" style="padding-bottom: 10px;"> <b style="color: gold;">{{user.elo}}</b> points</p>
	
	<hr>

	<p class="fifties blk-text big-title">
		<u>
			Guild
		</u>
	</p>
	{{#if guild}}
	<br>
	<a class="btn btn-success btn-lg btn-block fifties sized-text" href="#guilds/{{guild.id}}">{{guild.name}}</a>
	{{else}}
	<p class="fifties blk-text sized-text">This user has no guild</p>
	{{/if}}
	<br>

	<hr>
	<p class="fifties blk-text big-title">
		<u>
			Game history
		</u>
	</p>
	<ul class="list-group">
		{{#each matches}}
		<li class="list-group-item">
			<h4>
				{{#if won }}
				🎉🎉 Victory 🎉🎉
				{{else}}
				Defeat 🤧
				{{/if}}
			</h4>
			<h6>{{ dateStr date}}</h6>
			<p> {{ you }} VS <a href="#profiles/{{ enemy.id }}">{{ enemy.nickname }}</a> </p>
			<p class="atari atari-back">
				{{#if won }}
				{{ winner_score }} - {{ loser_score }}
				{{else}}
				{{ loser_score }} - {{ winner_score }}
				{{/if}}
			</p>
		</li>
		{{/each}}
	</ul>
	<hr>
	{{else}}
	<p class="fifties blk-text big-title">This user does not seem to exist</p>
	<br>
	{{/if}}
	<br>
	<div class="btn-group special">
		<a class="btn btn-primary" href="#profiles">Users list</a>
		<a class="btn btn-info" href="#">Home</a>
	</div>
</div>
<a class="btn btn-info btn-lg btn-block" href="javascript:history.back()">Back</a>